/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $max-width;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
  // z-index: 20;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}


.site-category li a{
  display:block;
  font-weight:normal;
  line-height:50px;
  margin: 0px;
  padding:0px 25px;
  text-align:center;
  text-decoration:none;
  }

.site-category a:hover{
  background: rgb(255, 255, 255);
  color:#FFFFFF;
  text-decoration:none;
  }

.navbarResponsive li ul{
  background: rgb(255, 255, 255);
  display:none;
  float:right;
  height:auto;
  padding:0px;
  margin:0px;
  border:0px;
  position:absolute;
  width:100px;
  z-index:200;
  /*top:1em;
  /*left:0;*/
  }

.navbarResponsive li:hover ul{
  display:block;
  }

.navbarResponsive li li {
  display:block;
  float:none;
  margin:0px;
  padding:0px;
  width:200px;
  }

.navbarResponsive li:hover li a{
  background:none;
  }

  .navbarResponsive li ul a{
    display:block;
    height:50px;
    font-size:30px;
    font-style:normal;
    margin:0px;
    padding:0px 10px 0px 20px;
    text-align:left;
    }

  .navbarResponsive li ul a:hover{
    background: rgb(255, 255, 255);
    border:0px;
    color:#ffffff;
    text-decoration:none;
    }